#socialsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#socialsContainer a {
    text-decoration: none;
    color: gray;
    display: flex;
    padding: 7px;
}